<div class="days-of-week-container">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="{{ name }}" value="0" id="{{ name }}_monday">
        <label class="form-check-label day-label" for="{{ name }}_monday">Thứ Hai</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="{{ name }}" value="1" id="{{ name }}_tuesday">
        <label class="form-check-label day-label" for="{{ name }}_tuesday">Thứ Ba</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="{{ name }}" value="2" id="{{ name }}_wednesday">
        <label class="form-check-label day-label" for="{{ name }}_wednesday">Thứ Tư</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="{{ name }}" value="3" id="{{ name }}_thursday">
        <label class="form-check-label day-label" for="{{ name }}_thursday">Thứ Năm</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="{{ name }}" value="4" id="{{ name }}_friday">
        <label class="form-check-label day-label" for="{{ name }}_friday">Thứ Sáu</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="{{ name }}" value="5" id="{{ name }}_saturday">
        <label class="form-check-label day-label" for="{{ name }}_saturday">Thứ Bảy</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="{{ name }}" value="6" id="{{ name }}_sunday">
        <label class="form-check-label day-label" for="{{ name }}_sunday">Chủ Nhật</label>
    </div>
</div>
