	<!-- [ Header ] start -->
	<header class="pc-header ">
		<div class="header-wrapper">
			<div class="me-auto pc-mob-drp">
				<ul class="list-unstyled">
					<li class="dropdown pc-h-item">
						<a class="pc-head-link active dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#"
							role="button" aria-haspopup="false" aria-expanded="false">
							Phát triển hệ thống bón phân dựa trên IoT cho nông nghiệp thông minh
						</a>
		
					</li>
				</ul>
			</div>

			<div class="ms-auto">
				<ul class="list-unstyled">
					<li class="dropdown pc-h-item">
						<a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button"
							aria-haspopup="false" aria-expanded="false">
	
							<span>
								<span class="user-name">
									{{ request.user.username }}
								</span>
								<span class="user-desc">
									{{ request.user.email }}
								</span>
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
							<a href="{% url 'logout' %}" class="dropdown-item">
								<i class="material-icons-two-tone">chrome_reader_mode</i>
								<span>Đăng xuất</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<!-- [ Header ] end -->