<!-- includes/checkbox_days_of_week.html -->
<div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="days_of_week" value="0" id="days_of_week0">
        <label class="form-check-label" for="days_of_week0">Hai</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="days_of_week" value="1" id="days_of_week1">
        <label class="form-check-label" for="days_of_week1">Ba</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="days_of_week" value="2" id="days_of_week2">
        <label class="form-check-label" for="days_of_week2">Tư</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="days_of_week" value="3" id="days_of_week3">
        <label class="form-check-label" for="days_of_week3">Năm</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="days_of_week" value="4" id="days_of_week4">
        <label class="form-check-label" for="days_of_week4">Sáu</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="days_of_week" value="5" id="days_of_week5">
        <label class="form-check-label" for="days_of_week5">Bảy</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="days_of_week" value="6" id="days_of_week6">
        <label class="form-check-label" for="days_of_week6">Chủ Nhật</label>
    </div>
</div>
