{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

{% block stylesheets %}
<style>
    .toggle-switch {
        display: none;
    }

    .toggle-label {
        display: block;
        width: 50px;
        height: 30px;
        background-color: #797979;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
    }

    .toggle-label::after {
        content: '';
        position: absolute;
        top: 1px;
        left: 2px;
        width: 28px;
        height: 28px;
        background-color: #fffffff0;
        border-radius: 50%;
        transition: all 0.3s;
    }

    .toggle-switch:checked + .toggle-label {
        background-color: #ff3e20;
    }

    .toggle-switch:checked + .toggle-label::after {
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="pc-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-xl-7 col-md-12" id="relays">
                <div class="card flat-card" id="sensors">
                    <div class="row-table">
                        {% for sensor in sensors %}
                        {% if forloop.counter0|divisibleby:3 and not forloop.first %}
                        </div><div class="row-table">
                        {% endif %}
                        <div class="col-sm-4 d-none d-md-table-cell d-lg-table-cell d-xl-table-cell card-body br">
                            <div class="row align-items-center">
                                <div class="col-sm-4 text-center">
                                    <i class="material-icons-two-tone text-primary mb-1">language</i>
                                </div>
                                <div class="col-sm-8">
                                    <h5>{{ sensor.value }} {{ sensor.unit }}</h5>
                                    <span>{{ sensor.name }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row" id="relays">
                    {% for relay in relays %}
                    <div class="col-sm-6">
                        <div class="card prod-p-card background-pattern">
                            <div class="card-body">
                                <div class="row align-items-center m-b-0">
                                    <div class="col">
                                        <h3 class="m-b-0">{{ relay.name }}</h3>
                                    </div>
                                    <div class="col-auto">
                                        <input type="checkbox" id="relay-toggle-{{ relay.id }}" class="toggle-switch" {% if relay.value == "1" %}checked{% endif %}>
                                        <label for="relay-toggle-{{ relay.id }}" class="toggle-label" onclick="toggleRelay('{{ relay.id }}', '{{ relay.pin }}', '{{ relay.api_key }}')"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                    </div><div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-5 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Thiết lập chế độ tự động</h5>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'edit_auto_value' %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="auto-select" class="form-label">Chọn cây trồng:</label>
                                <select class="form-select" name="auto-select" id="auto-select">
                                    <option value="">-- Chọn --</option>
                                    {% for auto in autos %}
                                        {% if auto.auto_status == 1 %}
                                            <option value="{{ auto.id }}" selected>{{ auto.auto_name }}</option>
                                        {% else %}
                                            <option value="{{ auto.id }}">{{ auto.auto_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="auto-select" class="form-label">Thiết lập chế độ tự động:</label>
                            </div>
                            <div class="col-auto">
                                <!-- Nút bật/tắt tự động -->
                                <input type="checkbox" id="auto-toggle" class="toggle-switch" {% if autos_on %}checked{% endif %} data-auto-status="{% if autos_on %}{{ autos_on.auto_status }}{% endif %}">
                                <label for="auto-toggle" class="toggle-label"></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    let alertShown = false; // Biến để kiểm tra xem cảnh báo đã được hiển thị hay không
    let previousCropId = document.getElementById('auto-select').value; // Lưu giá trị cây trồng trước khi thay đổi

    document.getElementById('auto-toggle').addEventListener('change', function() {
        const selectedCropId = document.getElementById('auto-select').value;
        if (!selectedCropId) {
            alertShown = true;
            alert("Vui lòng chọn cây trồng trước khi thực hiện thao tác.");
            this.checked = !this.checked;
            return;
        } else if (alertShown) {
            alertShown = false;
        }

        if (this.checked) {
            const confirmEnable = confirm("Bạn muốn bật?");
            if (!confirmEnable) {
                this.checked = false;
            } else {
                // Perform action when enabled
                console.log("Bật thành công! ID của cây trồng: " + selectedCropId);
                // Send the selected crop id to the server
                const formData = new FormData();
                formData.append('id', selectedCropId);
                formData.append('auto_value', 1); // Set auto_value to 'true' when enabled
                console.log(selectedCropId);
                fetch("{% url 'edit_auto_value' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        } else {
            const confirmDisable = confirm("Bạn muốn tắt?");
            if (!confirmDisable) {
                this.checked = true;
            } else {
                // Perform action when disabled
                console.log("Tắt thành công! ID của cây trồng: " + selectedCropId);
                // Send the selected crop id to the server
                const formData = new FormData();
                formData.append('id', selectedCropId);
                formData.append('auto_value', 2); // Set auto_value to 'false' when disabled
                console.log(formData);
                fetch("{% url 'edit_auto_value' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
            }
    });

    document.getElementById('auto-select').addEventListener('change', function() {
        const autoToggle = document.getElementById('auto-toggle');
        if (autoToggle.checked) {
            alert("Đang ở chế độ tự động, vui lòng tắt chế độ tự động trước khi chọn cây trồng khác.");
            this.value = previousCropId; // Reset lại giá trị của cây trồng
            return;
        }
        previousCropId = this.value; // Cập nhật giá trị cây trồng mới khi thay đổi thành công
    });

    const ws = new WebSocket('ws://' + window.location.host + '/ws/notifications/');
    console.log(ws);

    ws.onopen = () => {
        console.log('WebSocket connection established');
    };
    ws.onerror = (error) => {
        console.error('WebSocket error: ', error);
    };
    ws.onclose = () => {
        console.log('WebSocket connection closed');
    };
    ws.onmessage = (event) => {
        console.log('Message received from server');
        loadData();
    };

    function loadData() {
        $.ajax({
            url: "{% url 'home' %}"
        }).done(function (data) {
            $('#sensors').html($(data).find('#sensors').html());
            $('#relays').html($(data).find('#relays').html());
        });
    }

    function toggleRelay(relayId, relayPin, apikey) {
        const autoToggle = document.getElementById('auto-toggle');
        if (autoToggle.checked && event.target.id !== 'auto-toggle-label') { 
            // Kiểm tra nếu chế độ tự động đang bật và nút bấm không phải là nút tự động
            alert("Đang ở chế độ tự động, vui lòng tắt chế độ tự động trước khi điều khiển.");
            event.preventDefault();
            return;
        }
        const relayCheckbox = document.getElementById('relay-toggle-' + relayId);
        const value = relayCheckbox.checked ? 0 : 1;
        const url = `${window.location.protocol}//${window.location.hostname}:${window.location.port}/update/${apikey}/${relayPin}/?value=${value}`;

        fetch(url, { method: 'GET' })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                console.log('Request sent successfully');
            })
            .catch(error => {
                console.error('Error sending request:', error);
            });
    }
</script>
{% endblock javascripts %}
